*{
  box-sizing: border-box;
}
#root {
  margin: 0 auto;
  text-align: center;
}
.game{
  display: flex;
  align-content: center;
  flex-flow: wrap;
  gap: 20px;
  width: 400px;
}
@media (max-width: 500px) {
  .subTitle {
    font-size: 30px;
   }
  .game{
    width: 70%;
    margin: 0 auto;
    min-width: 280px;
    max-width: 400px;
  }
}

